::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $formPlaceholder;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $formPlaceholder;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $formPlaceholder;
}

.form {
  display: flex;
  min-width: 400px;
  align-items: center;
  justify-content: center;
  background-color: $fofmColor;
  color: $mainColor;
  border-radius: 5px;
  box-shadow: 5px 5px 20px $mainColor;
  padding: 2rem;

  &__body {
    min-height: 100%;
    width: 100%;
    padding: 30px 10px;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    flex-direction: column;
    gap: 2rem;
  }

  &__title {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  &__item:first-child {
    margin-bottom: 1.5rem;
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    /* &:-webkit-autofill {
      color: $fofmColor !important;
    } */
  }

  &__btn {
    margin: 0 auto;
    background-color: black;
    color: #fff;
    border-radius: 3px;
    border: none;
    padding: 0.5rem 1.7rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }

  &__input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 5px 0 10px;
    outline: none;
    font-family: inherit;
  }
}
